//color
$color-brightest: #ffffff;
$color-red1 :#ba0d5e;
$color-red2: #ce0271;
$color-red3: #BC005F;

$color-violet1: #803581;

$color-dark1: #020202;
$color-dark2:#090826;

$color-gray1: #737581;
$color-gray2: #696c79;
$color-gray3: #8d909b;
$color-gray4: #a2a1b7;

$headerHeight: 90px;

%dombasic {
  content: " ";
  display: block;
  position: absolute;
}

%flexCenter {
  display: flex;
  align-items: center;
  justify-content: center;
}

@mixin rectangle($rectangle) {
  width: $rectangle;
  height: $rectangle;
}

@mixin limit($lines, $height) {
  -webkit-box-orient: vertical;
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: $lines;
  height: $height;
}
